*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuenteTitular);
}

body{
    background-color: var(--grisClaro);
}

a{
    color: black;
    text-decoration: none
}

li{
    list-style: none
}