header{
    background-color: var(--amarillo);
    font-family: var(--fuenteTitular);
    font-size: var(--cuerpo-de-texto);
    width: 100%;
    padding: 20px 0;
}

header .logo{
    width: 100%
}

.caja2{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.search{
    display: flex;
    flex-direction: row;
    width: 70%;
}

header .lupa{
    padding: 1px;
    border-radius: 4px;
    width: 10%;
}

header .caja2 ,.cajaLogo, .search{
    margin: 0 10px;
}


header .search i{
    padding: 1px;
    background-color: var(--grisClaro);
    border: 1px solid var(--grisOscuro);
    border-radius: 4px;
}

header .titular{
    margin: 20px 0;
    text-align: center;
    font-family: var(--fuenteTitular);
    font-weight: normal;
}

header .links{
    display: none;
}

header .links ul{
    margin: 0 0 20px;

}

.burger-menu{
    text-align: center;
    font-size: 25px;
}

.burger-menu i{
    text-align: center;
    background-color: var(--celeste);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 28px;
    font-size: var(--titulares);
}

/* Tablet */
@media (min-width:461px){
    .caja1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .caja1 .caja2{
        width: 65%;
    }

    header .titular{
        display: block;
        width: 35%;
        margin: none;
    }

    header .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    header .links ul{
        display: flex;
        flex-direction: row;
    }

    header .links ul li{
        margin:0 5px ;
        margin-top: 30px;

    }


    
    header .burger-menu{
        display: none;
    }
}

/* Desktop */
@media (min-width:769px){

}