body{
    background-color: #EAC926;
    font-family: var(--fuenteTitular);
}
.logo{
    font-size: 8rem;
}
.search i{
    background-color: white;
    margin: var(--negro); 
}
li{
    list-style: none
}
a{
    color: black;
    text-decoration: none
}
p{
    font-size: 12px;
}
.header nav h4{
    text-align: center;
    margin-bottom: 30px
}
.header div{
    margin-left: 250px
}
.imagenes{
    max-width: 425px
}
.burger-menu{
    text-align: center;
        font-size: 28px
}
.burger-menu i{
    background-color:var(--celeste);
    padding: 6%;
    margin-bottom: 28px;
    border-radius: 20%

}
.titulo{
    font-size: 24px
}
.precio{
    font-size: 18px
}
.descuento{
    font-size: 16px
}
.descripcion{
    font-size: 16px
}
p{
    font-size: 12px;
}
.icono{
    font-size:2em ;
    color: var(--celeste);
    margin-bottom: 10px
}
footer{
    text-align: center
}
