main{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

main .banner{
    display: none
}

main article{
    margin: 10px 0;
    background-color: white;
}

main article .contenedor{
    border-top: 1px solid var(--grisClaro);
}

main article .camion{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 90%;
    top: -15px
}

main article .cajaPrecioDescuento{
    display: flex;
    flex-direction: row;
}

main article .imagenes{
    width: 100%
}

main article .camion, main section article .descuento{
    color: var(--verde);
}

.titulo{
    font-size: var(--titulares);
    color: var(--grisOscuro);
}
.precio{
    font-size: var(--precios);
    width: 30%
}
.descuento{
    font-size: var(--descuentos-y-descripciones);
    width: 70%
}
.descripcion{
    font-size: var(--descuentos-y-descripciones);
    color: var(--grisOscuro);
    margin-top: 20px;
}

/* Tablet */
@media (min-width:461px){
    main article{
        box-shadow: 0px 0px 10px var(--grisOscuro);
    }    
    
    .titulo{
        margin: 30px 30px
    }

    main section article{
        width: 40%;
        
    }
    
    main .section1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    
    main .section2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Desktop */
@media (min-width:769px){
    main section article{
        width: 20%;
    }
    main article{
        box-shadow: 0px 0px 10px var(--grisOscuro);
    }    
    
    .titulo{
        margin: 30px 30px
    }

}